# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from ipywidgets.embed import embed_minimal_html

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,44.71,76,75,13.80,broken clouds
1,1,Khuzhir,RU,53.1939,107.3397,37.29,62,20,3.67,few clouds
2,2,Geraldton,AU,-28.7667,114.6000,63.01,48,100,9.22,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,44.26,76,40,14.97,scattered clouds
4,4,Bredasdorp,ZA,-34.5322,20.0403,49.35,92,0,7.14,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
15,15,Balurghat,IN,25.2167,88.7667,76.59,95,70,3.69,broken clouds
16,16,Faanui,PF,-16.4833,-151.7500,78.31,73,2,25.75,clear sky
18,18,Labuhan,ID,-6.8844,112.2051,81.75,74,100,10.92,overcast clouds
21,21,Najran,SA,17.4924,44.1277,75.85,28,90,1.63,overcast clouds
24,24,Ouargaye,BF,11.5033,0.0572,78.80,71,91,6.44,light rain
30,30,Avarua,CK,-21.2078,-159.7750,78.85,69,20,18.41,few clouds
32,32,Hilo,US,19.7297,-155.0900,83.25,80,100,5.75,overcast clouds
33,33,Hithadhoo,MV,-0.6000,73.0833,82.27,74,43,20.78,scattered clouds
35,35,Veraval,IN,20.9000,70.3667,79.74,76,67,11.59,broken clouds
43,43,Kapaa,US,22.0752,-159.3190,84.18,70,27,5.01,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
15,15,Balurghat,IN,25.2167,88.7667,76.59,95,70,3.69,broken clouds
16,16,Faanui,PF,-16.4833,-151.7500,78.31,73,2,25.75,clear sky
18,18,Labuhan,ID,-6.8844,112.2051,81.75,74,100,10.92,overcast clouds
21,21,Najran,SA,17.4924,44.1277,75.85,28,90,1.63,overcast clouds
24,24,Ouargaye,BF,11.5033,0.0572,78.80,71,91,6.44,light rain
30,30,Avarua,CK,-21.2078,-159.7750,78.85,69,20,18.41,few clouds
32,32,Hilo,US,19.7297,-155.0900,83.25,80,100,5.75,overcast clouds
33,33,Hithadhoo,MV,-0.6000,73.0833,82.27,74,43,20.78,scattered clouds
35,35,Veraval,IN,20.9000,70.3667,79.74,76,67,11.59,broken clouds
43,43,Kapaa,US,22.0752,-159.3190,84.18,70,27,5.01,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

         City Country  Max Temp Current Description      Lat       Lng
15  Balurghat      IN     76.59       broken clouds  25.2167   88.7667
16     Faanui      PF     78.31           clear sky -16.4833 -151.7500
18    Labuhan      ID     81.75     overcast clouds  -6.8844  112.2051
21     Najran      SA     75.85     overcast clouds  17.4924   44.1277
24   Ouargaye      BF     78.80          light rain  11.5033    0.0572
30     Avarua      CK     78.85          few clouds -21.2078 -159.7750
32       Hilo      US     83.25     overcast clouds  19.7297 -155.0900
33  Hithadhoo      MV     82.27    scattered clouds  -0.6000   73.0833
35    Veraval      IN     79.74       broken clouds  20.9000   70.3667
43      Kapaa      US     84.18    scattered clouds  22.0752 -159.3190

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,Balurghat,IN,76.59,broken clouds,25.2167,88.7667,
16,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,
18,Labuhan,ID,81.75,overcast clouds,-6.8844,112.2051,
21,Najran,SA,75.85,overcast clouds,17.4924,44.1277,
24,Ouargaye,BF,78.80,light rain,11.5033,0.0572,
30,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
32,Hilo,US,83.25,overcast clouds,19.7297,-155.0900,
33,Hithadhoo,MV,82.27,scattered clouds,-0.6000,73.0833,
35,Veraval,IN,79.74,broken clouds,20.9000,70.3667,
43,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,Balurghat,IN,76.59,broken clouds,25.2167,88.7667,"Circuit House, Balurghat"
16,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
18,Labuhan,ID,81.75,overcast clouds,-6.8844,112.2051,DoubleFAG
21,Najran,SA,75.85,overcast clouds,17.4924,44.1277,محمد هادي ال فطيح
24,Ouargaye,BF,78.80,light rain,11.5033,0.0572,Résidence le Cotonnier

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df.replace('', np.nan, inplace=True)
hotel_df.isna().count()
clean_hotel_df = hotel_df.dropna().copy()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,Balurghat,IN,76.59,broken clouds,25.2167,88.7667,"Circuit House, Balurghat"
16,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
18,Labuhan,ID,81.75,overcast clouds,-6.8844,112.2051,DoubleFAG
21,Najran,SA,75.85,overcast clouds,17.4924,44.1277,محمد هادي ال فطيح
24,Ouargaye,BF,78.80,light rain,11.5033,0.0572,Résidence le Cotonnier
...,...,...,...,...,...,...,...
664,Piacabucu,BR,75.25,clear sky,-10.4056,-36.4344,Piaçabuçu News
665,Itaituba,BR,81.55,broken clouds,-4.2761,-55.9836,Hotel Campos
666,Touros,BR,76.91,clear sky,-5.1989,-35.4608,INN NEW HORIZON
667,Trairi,BR,78.31,scattered clouds,-3.2778,-39.2689,janelas do mar
668,Bathsheba,BB,81.21,broken clouds,13.2167,-59.5167,Atlantis Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [20]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [17]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [18]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Circuit House, Balurghat</dd>\n<dt>City</dt><dd>Balurghat</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>DoubleFAG</dd>\n<dt>City</dt><dd>Labuhan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>محمد هادي ال فطيح</dd>\n<dt>City</dt><dd>Najran</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Résidence le Cotonnier</dd>\n<dt>City</dt><dd>Ouargaye</dd>\n<dt>Country</dt><dd>BF</dd>\n<dt>Current Weather</dt><dd>light rain and 78.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lords Inn Somnath</dd>\n<dt>City</dt><dd>Veraval</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.18 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
15  25.2167   88.7667
16 -16.4833 -151.7500
18  -6.8844  112.2051
21  17.4924   44.1277
24  11.5033    0.0572
30 -21.2078 -159.7750
32  19.7297 -155.0900
33  -0.6000   73.0833
35  20.9000   70.3667
43  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [21]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig
embed_minimal_html('WeatherPy_vacation_map.html', views=[fig])